//Profile config names for nf-core/configs

singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/cluster/software/nf-core/CACHE'
  runOptions = "--bind $TMPDIR:/tmp" 

}

process {
  executor = 'slurm'
  queue = 'orion,smallmem,hugemem'
  //clusterOptions = "--constraint=avx --nice=500"
  scratch = true
  
 withName: '.*:ALIGN_STAR:STAR_ALIGN' {
        ext.args = [
            '--quantMode TranscriptomeSAM',
            '--twopassMode Basic',
            '--outSAMtype BAM Unsorted',
            '--readFilesCommand zcat',
            '--runRNGseed 0',
            '--outFilterMultimapNmax 20',
            '--alignSJDBoverhangMin 1',
            '--outSAMattributes NH HI AS NM MD',
            '--quantTranscriptomeBan Singleend',
            '--limitSjdbInsertNsj 1200000'
        ].join(' ').trim()
    }
}

executor {
    submitRateLimit = '30/1min'
    queueSize = 30
}

params {
  max_cpus = 16
  markdup_java_options = '"-Xms4000m -Xmx12g"'
}
